@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Luckiest+Guy&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Courgette&family=Satisfy&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Pacifico&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

body {
  overflow-x: hidden;
}
:root {

  --color: #79b4b7;
}
* {
  font-family: "Poppins", sans-serif;
  /*font-family: "Concert One", cursive;*/
}
/* .footer {
    background-color: var(--color);
    color: #fff;
  
    justify-content: space-around;
  
    align-items: center;
    padding-bottom: 0;
    margin-top: 0;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  .footer .first {
    text-align: start;
  }
  
  .footer .first {
    border-right: 1px solid #fff;
  }
  
  .footer ul {
    list-style: none;
    text-align: start;
    justify-content: space-around;
    padding: 0;
  }
  
  .footer h5 {
    text-align: start;
  
  }
  .footer ul li {
    margin: 10px;
    color: #fff;
  }
  .footer ul li .icon {
    font-size: 20px;
    color: #fff;
  }
  
  .footer-copyright {
    border-top: 1px solid #fff;
  }
  
  .footer-copyright {
      border-top: 1px solid #fff;
  }

.header-nav{
    background-color: var(--color);
}

.akhaf{
    background-color: #79b4b7;
    padding: 10px;
} */

.navbar {
    min-height: 70px;
    background-color:  var(--color);
  }
  
  .navbar-brand {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .navbar-nav {
    margin-top: 10px;
    border-top: 1px solid #E8EEE4;
    flex-shrink: 0;
   
  }
  
  .navbar-nav .nav-link {
    transition: all .2s ease;
  }
  
  .navbar-nav .btn {
    font-size: 14px;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: rgba(110, 128, 122, 0.8);
  }
  
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #6E807A;
  }
  
  .navbar-light .navbar-nav .show > .nav-link,
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .nav-link.active {
    font-weight: 500;
    color: #00D9A5;
  }
  
  .learn-more.btn-primary {
    background-color:var(--color);
    border: none;
    transition: 0.6s;
  }

  .learn-more.btn-primary:hover {
    opacity: 0.7;

  }
  
  @media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav {
      margin-top: 0;
      border-top: none;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
      padding-right: 16px;
      padding-left: 16px;
    }
    .navbar-expand-sm .navbar-nav {
      align-items: center;
    }
  }
  
  @media (min-width: 768px) {
    .navbar-expand-md .navbar-nav {
      margin-top: 0;
      border-top: none;
    }
    .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 16px;
      padding-left: 16px;
    }
    .navbar-expand-md .navbar-nav {
      align-items: center;
    }
  }
  
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
      margin-top: 0;
      border-top: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 16px;
      padding-left: 16px;
    }
    .navbar-expand-lg .navbar-nav {
      align-items: center;
    }
  }
  
  @media (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav {
      margin-top: 0;
      border-top: none;
    }
    .navbar-expand-xl .navbar-nav .nav-link {
      padding-right: 16px;
      padding-left: 16px;
    }
    .navbar-expand-xl .navbar-nav {
      align-items: center;
    }
  }
  
  .form-control {
    padding: 8px 15px;
    height: calc(1.5em + 1.375rem + 2px);
    border-color: #d6dbd9;
  }
  
  .custom-select {
    height: calc(1.5em + 1.375rem + 2px);
  }

/*page section */

.page-section {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
}

.color-p{
  color: #666;
}

.text-grey {
  color: #6E807A !important;
}

.img-place > img {
  width: 100%;
  height: 100%;
}

img {
  vertical-align: middle;
  border-style: none;
}
/*footer*/

.page-footer {
    position: relative;
    display: block;
    padding-top: 80px;
    padding-bottom: 16px;
    background-color:  var(--color);
    color: #fff;
  }
  
  .page-footer h5 {
    font-weight: 500;
    margin-bottom: 16px;
  }
  
  .page-footer hr {
    border-color: #4F5E5B;
  }
  
  .footer-menu {
    position: relative;
    list-style: none;
    padding-left: 0;
  }
  
  .footer-menu a,
  .footer-link {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    color: rgba(255, 255, 255, 0.6);
    transition: all .2s ease;
  }
  
  .footer-menu a:hover,
  .footer-link:hover {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-link {
    padding: 0;
    margin-bottom: 16px;
  }
/*   
  .footer-sosmed a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    background-color:  var(--color);
    color: #ffff;
    transition: all .2s ease;
    margin: 2px;
  }

  .footer-sosmed a .icon {
      color: #79b4b7;
  }
  
  .footer-sosmed a:hover {
    background-color: #00D9A5;
    text-decoration: none;
  }
   */
  .contact-form {
    display: block;
    max-width: 900px;
    margin: 15px auto;
  }
  
  .maps-container {
    position: relative;
    display: block;
    width: 100%;
    height: 350px;
    background-color: #E1EBE8;
  }
  
  #google-maps {
    width: 100%;
    height: 350px;
  }
  
  .custom-img-1 {
    width: auto;
    max-width: 390px;
  }
  
  .custom-index {
    z-index: 11;
  }
  
  
  /* Custom Plugin */
  .owl-nav {
    display: block;
    margin: 15px auto;
    text-align: center;
  }
  
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    display: inline-block;
    padding: 6px 0 !important;
    background-color: #00D9A5;
    color: #fff;
  }
  
  .owl-carousel .owl-nav button.owl-next {
    padding-right: 14px !important;
    padding-left: 7px !important;
    border-radius: 0 40px 40px 0;
  }
  
  .owl-carousel .owl-nav button.owl-prev {
    padding-right: 7px !important;
    padding-left: 14px !important;
    border-radius: 40px 0 0 40px;
  }