#menu-toggle:checked+#menu {
    display: block;
  }

  #dropdown-toggle:checked+#dropdown {
    display: block;
  }

 .body .main a,span {
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .body .main a.arrow,
  span.arrow {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1.5;
  }

  .body .main a.arrow .arrow_icon, span.arrow .arrow_icon {
    position: relative;
    margin-left: 0.5em;
  }

 .body .main a.arrow .arrow_icon svg,
  span.arrow .arrow_icon svg {
    transition: transform 0.3s 0.02s ease;
    margin-right: 1em;
  }

 .body .main a.arrow .arrow_icon::before,
  span.arrow .arrow_icon::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 2px;
    background: #38b2ac;
    transform: translateY(-50%);
    transition: width 0.3s ease;
  }

 .body .main a.arrow:hover .arrow_icon::before,
  span.arrow:hover .arrow_icon::before {
    width: 1em;
  }

  .body .main a.arrow:hover .arrow_icon svg,
  span.arrow:hover .arrow_icon svg {
    transform: translateX(0.75em);
  }

 .body .main .bg-blue-teal-gradient {
    background: rgb(49, 130, 206);
    background: linear-gradient(90deg, rgba(49, 130, 206, 1) 0%, rgba(56, 178, 172, 1) 100%);
  }


  .border{
    border-color: rgba(255,255,255,.25)
  }




  .services {
    padding: 60px 0 60px 0px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);

}

.services .content {
    position: relative;
    padding: 20px;
    border: 1px solid #2196f3;
    transition: 0.5s;
    margin-top: 30px;
    color: black;
}

.services .content:hover {
    border: 3px solid #2196f3;
    border-color: #096cbd;

    background-color: rgb(231, 231, 231);
    color: #333;
}

.services .content h3 {
    font-size: 24px;
    font-weight: 500;
}

.services .content p {
    font-size: 16px;
    margin-top: 25px;
    line-height: 30px;
}

.services .content i  {
    width: 150px;
    height: 150px;
    font-size: 70px;
    line-height: 120px;
}

.ed {
    color: #2196f3;
    margin-left:8.9em
}

section#services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#first-P h1 {
  text-align: inherit;
}

#first-P h1::after{
  color: white;
  content: "To Medixo";
  animation: change-content 1.5s ease-in-out forwards infinite alternate ;
}

@keyframes change-content {
  0%{
      content: "";
  }
  7%{
      content: "T";
  }
  14%{
      content: "To";
  }
  21%{
      content: "To M";
  }
  28%{
      content: "To Me";
  }
  35%{
      content: "To Med";
  }
  42%{
      content: "To Medi";
  }
  49%{
      content: "To Medix";
  }
  56%{
      content: "To Medixo";
  }
}

#first-c h1 {
  text-align: inherit;
}

.header .header_content  .main_nav .nave .logout{
  margin-left: 30em;
}