@charset "utf-8";


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');


ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 2.14;
	font-weight: 500;
	color: #828282;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}
a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(87,204,195,0.75);
	color: #FFFFFF;
}

h1{font-size: 60px;}
h2{font-size: 48px;}
h3{font-size: 36px;}
h4{font-size: 24px;}
h5{font-size: 18px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 1.2;
	color: #828282;
}


.nopadding
{
	padding: 0px !important;
}
.button
{
	height: 46px;
	border-radius: 20px;
}
.button a
{
	display: block;
	padding-left: 40px;
	padding-right: 36px;
	line-height: 42px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
}
.button_1
{
	background: #fd556d;
	border: solid 2px transparent;
}
.button_1 a
{
	color: #FFFFFF;
}
.button_1:hover
{
	background: transparent;
	border: solid 2px #fd556d;
}
.button_1:hover a
{
	color: #fd556d;
}
.button_2
{
	background: transparent;
	border: solid 2px #57ccc3;
}

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 100;
	background: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.header_content
{
	width: 100%;
	height: 80px;
	padding-left: 100px;
	padding-right: 102px;
}
.header.scrolled .header_content
{
	height: 75px;
	box-shadow: 0px 5px 15px rgba(87,204,195,0.15);
}
.logo a > div:first-child
{
	font-size: 30px;
	font-weight: 700;
	line-height: 0.75;
	color: #353535;
}
.logo a > div:first-child span
{
	color: #57ccc3;
	margin-left: 7px;
}
.logo a > div:last-child
{
	font-size: 12px;
	color: #969696;
	font-weight: 500;
	line-height: 0.75;
	margin-top: 6px;
}
.main_nav
{
	margin-left: 350px;
}
.main_nav ul li a
{
	font-size: 15px;
	font-weight: 600;
	color: #404040;
	white-space: nowrap;
}
.main_nav ul li a:hover

{
	color: #57ccc3;
}

.main_nav  .aa
{
	margin-left:23em;
}

.main_nav ul li:not(:last-child)
{
	margin-right: 33px;
}
.work_hours
{
	font-size: 15px;
	font-weight: 600;
	color: #404040;
	margin-right: 26px;
	white-space: nowrap;
}

.header_button
{
	margin-right: 16px;
}
